.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  width: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.carousel .slick-prev::before,
.carousel .slick-next::before {
  display: none;
}
.carousel .slick-arrow.slick-next {
  right: -70px
}
.carousel .slick-arrow.slick-prev {
  left: -70px;
}
.carousel .slick-dots li button:before {
  font-size: 15px;
}
.carousel .slick-dots li {
  top: 225px;
}
.carousel{
  height: 810px;
  display: flex; 
  justify-content: center;
}
.container{
  margin-top: 200px;
}


@media screen and (max-width: 768px) {
  .slick-dots li button:before{
    margin-top: -250px;
  }
  .carousel .slick-arrow.slick-prev,
  .carousel .slick-arrow.slick-next{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .slick-dots li button:before{
    margin-top: -220px;
  }
  .carousel .slick-arrow.slick-prev,
  .carousel .slick-arrow.slick-next{
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .slick-dots li button:before{
    margin-top: -260px;
  }
  .carousel .slick-arrow.slick-prev,
  .carousel .slick-arrow.slick-next{
    display: none;
  }
}
@media screen and (max-width: 290px){
  .container{
    margin-top: -20px;
    height: 1000px;
  }
}
