.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  width: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.carousel .slick-prev::before,
.carousel .slick-next::before {
  display: none;
}
.carousel .slick-arrow.slick-next {
  right: -70px;
}
.carousel .slick-arrow.slick-prev {
  left: -70px;
}
.carousel .slick-dots li button:before {
  font-size: 15px;
}
.carousel .slick-dots li {
  top: 15px;
}
.carousel{
  height: 780px;
  display: flex; 
  justify-content: center;
}
.container{
  margin-top: 100px;
}


@media screen and (max-width: 768px) {
  .slick-dots li button:before{
    margin-top: 100px;
  }
}
