#updateValue{
    width: 100px;
}
/* Admin */
/* Table Styles */

.table-wrapperadmin{
    margin: 20px 70px 100px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    width: auto;
    height: 800px;
    overflow-y: scroll;
  }
  
  .tl-table-admin {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    table-layout: fixed;
    white-space: nowrap;
  }
  
  .tl-table-admin tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .tl-table-admin th,
  .tl-table-admin td {
    padding: .625em;
    text-align: center;
    overflow: hidden;
  }
  
  .tl-table-admin th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  #submit{
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    border-radius: 50px;
    background: #002855;
    white-space: nowrap;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  #submit:hover {
    transition: all 0.2s ease-in-out;
    background: #5C677D;
  };

  
  
  /* Responsive */
  
  /*Mobile View*/
  @media screen and (max-width: 600px) {
    .tl-table-admin {
      border: 0;
    }
    
    .tl-table-admin thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .tl-table-admin tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .tl-table-admin td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .tl-table-admin td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .tl-table-admin td:last-child {
      border-bottom: 0;
    }
  }

  /* Input is required */

.error{
    font-size: 12px;
}
.errorhandler{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.erroradmin{
  font-size: 12px;
  margin-left: 8px;
}


/* tooltip */
.tooltip
{
 display: inline;
 position: relative;
}
.tooltip:hover:after
{
 background: #333;
 background: rgba(0,0,0,.8);
 border-radius: 5px;
 bottom: 26px;
 color: #fff;
 content: attr(title);
 left: 20%;
 padding: 5px 15px;
 position: absolute;
 z-index: 98;
 word-wrap: break-word;
 text-align: left;
 white-space: pre-line;
 width: 600px;
 
}
.tooltip:hover:before
{
 border: solid;
 border-color: #333 transparent;
 border-width: 6px 6px 0 6px;
 bottom: 20px;
 content: "";
 left: 50%;
 position: absolute;
 z-index: 99;
 width: auto;
}

/* Input Field */
.newsSubmit{
  background-color: #EDEDED;
  border-radius: 10px;
}