*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba( 71, 147, 227, 1);
}
.table-wrapper h1, .resultdiv h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 10px;
}
h2{
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: Black;
  padding: 30px 0;
}
.placename{
  color:black;
  padding: 10px 0;
  font-size: 34px;
  margin-bottom: 15px;
  text-align: center;
}
h3{
  color:black;
  padding: 10px 0;
  font-size: 34px;
  margin-bottom: 15px;
  text-align: center;
}

/* Table Styles */

.table-wrapper{
  /* margin: 20px 70px 100px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
  height: 700px;
  width: 750px;
  margin-top: 100px;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #979DAC;
  margin-left: -8px;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  /* border-right: 1px solid #979DAC; */
  font-size: 16px;
}

.fl-table thead th {
  color: #f2f2f2;
  background: #33415C;
  font-size: 18px;
}

.algo{
  background: #33415C;
  color: #f2f2f2;
}
.fl-table tr {
  background: #B9B9B9;
}

.fl-table th{
  font-size: 12px;
}


/* CSS */
#submittable {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3px;
  margin-right: 5px;
  height: 30px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#submittable:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#submittable:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#submittable:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#submittable:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#submittable:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#submittable:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#submittable:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#submittable:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.paragraph{
  color: white;
  font-size: 25px;
  margin-left: 5px;
  margin-top: 5px;
}
.yesbutton{
  margin-left: 150px;
  margin-top: 7px;
}
.nobutton{
  margin-left: 20px;
  margin-top: 7px;
}
/* Responsive */

/*Mobile View*/
@media screen and  (max-width: 760px) {
  .table-wrapper{
    width: 200px;
  }
  td, tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #023E7D; }
  tr + tr { margin-top: 0.1em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #979DAC;
    text-align: left;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    white-space: nowrap;
  }
  .paragraph{
    color: #f2f2f2;
    font-size: 12px;
  }
  #submittable{
    margin-top: 20px;
    width: 30px;
  }
  #nobutton{
    margin-right: 110px;
  }
  h2, .resultdiv h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: Black;
    padding: 30px 0;
  }
  .placename{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: Black;
    padding: 30px 0;
  }
  h3{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: Black;
    padding: 30px 0;
    margin-bottom: 10px;
  }

}
@media screen and  (max-width: 480px){
  .table-wrapper{
    width: 300px;
    height: 100px;
    margin-top: 20px;
  }
  .fl-table{
    width: 300px;
    height: 100px;
    margin-top: -20px;
  }
  td, tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #023E7D; }
  tr + tr { margin-top: 0.1em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #979DAC;
    text-align: left;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    white-space: nowrap;
  }
  .yesbutton, .nobutton{
    margin-left: 0px;
    margin-top: -5px;
  }
  .yesbutton{
    margin-left: 0px;
  }
  .paragraph{
    font-size: 1rem;
  }
  .thankbox{
    font-size: 1rem;
    margin-top: -28px;
    height: 80px;
  }
}
@media screen and  (max-width: 400px) {
  .table-wrapper{
    width: 300px;
    height: 100px;
    margin-top: 100px;

  }
  .fl-table{
    width: 300px;
    height: 100px;
    margin-top: -20px;
  }
  td, tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #023E7D; }
  tr + tr { margin-top: 0.1em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #979DAC;
    text-align: left;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    white-space: nowrap;
  }
  .yesbutton, .nobutton{
    margin-left: 0px;
    margin-top: 10px;
  }
  .yesbutton{
    margin-left: -30px;
  }
  .paragraph{
    font-size: 1rem;
  }
  .thankbox{
    font-size: 1rem;
    margin-top: -28px;
  }
}

@media screen and  (max-width: 375px) {
  .table-wrapper{
    width: 220px;
    height: 100px;
    margin-top: 100px;
    margin-left: 25px;
  }
  .fl-table{
    width: 220px;
    height: 100px;
    margin-top: -20px;
  }
  td, tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #023E7D; }
  tr + tr { margin-top: 0.1em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #979DAC;
    text-align: left;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    white-space: nowrap;
  }
  .yesbutton, .nobutton{
    margin-left: 0px;
    margin-top: 10px;
  }
  .yesbutton{
    margin-left: -50px;
  }
  .paragraph{
    font-size: .8rem;
  }
  .thankbox{
    font-size: 1rem;
    margin-top: -28px;
  }
}