*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba( 71, 147, 227, 1);
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  margin: 20px 70px 100px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  width: 460px;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #979DAC;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #979DAC;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #0353A4;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #001845;
}

.fl-table tr:nth-child(even) {
  background: #7D8597;
}

/* Responsive */

/*Mobile View*/
@media only screen and  (max-width: 760px) {
  .table-wrapper{
    width: 200px;
  }
  td, tr { display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #023E7D; }
  tr + tr { margin-top: 0.1em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #979DAC;
    text-align: left;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    white-space: nowrap;
  }
}